%html
  %head
    %title Ui Test
    %link{:href => "/css/ui-darkness/jquery-ui-1.8.2.custom.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src=> "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{:src=> "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"}
  %body
    %img#picon{:src=>"",:width=>80, :height=>80}
    %input#pokemon
    #log
